*.pyc
__pycache__
.DS_STORE
.idea
.mat
vision_datasets/
results_detection_espnetv2_2.0/
results_detection/
results_classification_main/
results_segmentation/
results_city_test/
vision_datasets\357\200\215/
*.pkl
21_classes/
81_classes/
vision_datasets\357\200\215\357\200\215\357\200\215/
*.png

